<div class="main-text">
    <p>Edit your profile</p>
</div>

{{#if err}}
<div class="err">oops! please try again!</div>
{{/if}}
{{#if changes}}
<div class="changes">changes successfully submitted!</div>
{{/if}}
<form class="form" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="text" name="first" id="first" placeholder="required" value="{{profile.first}}"><br>
    <label for="first">First Name</label><br>
    <input type="text" name="last" id="last" placeholder="required" value="{{profile.last}}"><br>
    <label for="last">Last Name</label><br>
    <input type="text" name="email" id="email" placeholder="required" value="{{profile.email}}"><br>
    <label for="email">Email Address</label><br>
    <input type="password" name="password" id="password" placeholder="choose new password"><br>
    <label for="password">New Password</label><br>
    <input type="text" name="age" id="age" placeholder="optional" value="{{profile.age}}"><br>
    <label for="age">Age</label><br>
    <input type="text" name="city" id="city" placeholder="optional" value="{{profile.city}}"><br>
    <label for="city">City</label><br>
    <input type="text" name="homepage" id="homepage" placeholder="optional" value="{{profile.url}}"><br>
    <label for="homepage">Homepage</label><br>

    <button name="button">UPDATE</button>
</form>

{{#if signatureId}}
    {{>delete-sig-btn}}
{{/if}}
