<div class="main-text">
    <p>We the undersigned demand, that <a href="https://en.wiktionary.org/wiki/headwind" target="_blank">headwind</a> be banned on all bike lanes!</p>
</div>

<div id="signers">
    {{#signers}}
        <div class="signer">
            {{#if url}}
                <p><a target="_blank" href="{{url}}">{{first}} {{last}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
            {{else}}
                <p>{{first}} {{last}} {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
            {{/if}}
            <img src="{{signature}}" alt="signature">
        </div>
    {{/signers}}
</div>
